.service{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    /* min-height: 100vh; */

    justify-content: center;
    align-items: center;
  }
  
  .service-cards {
    position: relative;
    width: 350px;
    height: 400px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    cursor: pointer;
    overflow: hidden;border-radius:10px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.05), 2px 4px 32px 0 rgba(0, 0, 0, 0.1), 0 0 64px 0 rgba(0, 0, 0, 0.2);
    font-family: "Open Sans", Helvetica, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: transform 300ms ease;
    
  }
  .service-cards .service-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 70px;
    left: 0;
    background-position: center;
    background-size: cover;
    transition: bottom 300ms ease;
  }
  .service-cards .service-content {
    position: absolute;
    z-index: 10;
    padding: 0.5rem;
    height: 100%;
    background: black;
    transform: translateY(314px);
    transition: transform 300ms ease;
   
  }
  .service-cards .service-content .service-header {
    font-size: 1.5rem;
    font-weight: 700;
    color:white;
    text-align: center;
    border: 1px solid white;
    padding: 3%;
    margin: 3% 0;
  }
  .service-cards .content .meta {
    font-size: 1rem;
    color: white;
    margin-bottom: 0.5rem;
  }
  .service-cards .service-content .service-description {
    opacity: 0;
    transition: opacity  500ms ease 100ms;
  
  }
  .service-cards:hover {
    transform: translateY(-16px);
  }
  .service-cards:hover .service-image {
    bottom: 280px;
  }
  .service-cards:hover .service-content {
    transform: translateY(104px);
    color: black;
  }
  .service-cards:hover .service-content .service-description {
    opacity: 1;
    padding-bottom: 5%;
    text-align: center;
    
  }
  .image1{
    background-image: url(https://www.breakaroom.com/static/media/rageCardCover.bbc693fb.jpg);
  }
  .image2{
    background-image: url(https://www.breakaroom.com/static/media/paintCardCover.10318938.jpg);
  }
  .image3{
      background-image: url(https://www.breakaroom.com/static/media/bundle.6d3a5265.jpg      );
  }
  
 